*{
	margin: 0;
	box-sizing: border-box;
}
:root{
    --primary-color: #0a0a0a;
    --secondary-color: #656565;
    --white-color: #fff;
    --serif-font: 'Poiret One';
    --sans-serif-font: 'Jost';
	--fs: 14px;
	--fw: 400;
	--lh: 1.5;
	--gutter-width: 15px;
}
body{
    font-family: var(--sans-serif-font);
	font-size: var(--fs);
	font-weight: var(--fw);
	line-height: var(--lh);
}
a{
	text-decoration: none;
    list-style: none;
}
ul,ol{
	padding: 0;
}
img{
	max-width: 100%;
	display: block;
}
.container{
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--gutter-width);
	padding-right: var(--gutter-width);
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(-1 * var(--gutter width));
	margin-right: calc(-1 * var(--gutter width));
}
.w-1{
	width:8.33%;
}
.w-2{
	width:16.66%;
}
.w-3{
	width:25%;
}
.w-4{
	width:33.33%;
}
.w-5{
	width:41.66%;
}
.w-6{
	width:50%;
}
.w-7{
	width:58.3%;
}
.w-8{
	width:66.66%;
}
.w-9{
	width:75%;
}
.w-10{
	width:83.33%;
}
.w-11{
	width:91.66%;
}
.w-12{
	width:100%;
}
.w-1, .w-2, .w-3, .w-4, .w-5, .w-6, .w-7, .w-8, .w-9, .w-10, .w-11, .w-12{
	padding-left: var(--gutter-width);
	padding-right: var(--gutter-width);
}
.justify-start{
	justify-content: flex-start;
}
.justify-center{
	justify-content: center;
}
.justify-end{
	justify-content: flex-end;
}
.justify-between{
	justify-content: space-between;
}
.justify-around{
	justify-content: space-around;
}
.justify-evenly{
	justify-content: space-evenly;
}
.align-start{
	align-items: flex-start;
}
.align-center{
	align-items: center;
}
.align-end{
	align-items: flex-end;
}
.d-flex{
    display: flex;
}
.row-gap-50{
    row-gap: 50px;
}
.header{
    background-image: url(../images/h1_hero2.jpg);
    width: 100%;
    height: 950px;
    background-size: cover;
    background-repeat: no-repeat;
}
.head{
   
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.logo{
    width: 100%;
}
.drop-down{
    display: flex;
}
.drop-down ul li a{
    color: var(--white-color);
}
.drop-down ul li{
    font-family: var(--sans-serif-font);
    padding: 28px 20px;
    list-style: none;
    font-size: 16px;
}
.header-icons ul li{
    list-style: none;
}
.header-icons ul li a{
    color: var(--white-color);
    padding-left: 19px;
}
.dropdown-content{
    position: absolute;
    top: 100%;
    background-color: var(--white-color);
    opacity: 0;
    visibility: hidden;
}
.dropdown-content ul li a{
    color: var(--primary-color);
}
.dropdown-content ul{
    padding: 20px;
}
.dropdown-content ul li{
    padding: 5px;
    min-width: 150px;
    max-width: 220px;
}
.dropdown{
    position: relative;
}
.dropdown:hover .dropdown-content{
    opacity: 1;
    visibility: visible;
}
.icon-menu{
    color: #fff;
}
.banner{
    margin-top: auto;
    color: var(--white-color);
    text-align: center;
}
.banner span{
    font-family: var(--sans-serif-font);
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}
.banner h1{
    font-family: var(--serif-font);
    font-size: 70px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.banner-contant{
    margin-top: 300px;
}
/* about */
.about{
    padding: 100px 0;
}
.caption-1 h2{
    font-size: 50px;
    font-family: var(--serif-font);
    font-weight: 300;
    line-height: 1;
    margin-bottom: 12px;
}
.caption-1 p{
    font-size: 18px;
    font-family: var(--sans-serif-font);
    font-weight: 400;
    line-height: 1.5;
    padding-top: 20px;
    margin-bottom: 15px;
}
.caption-1 img{
    margin-top: 40px;
}
.caption-2{
    padding-left: 50px;
}
.caption-2 p{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    padding-top: 5px;
    margin-bottom: 15px;
}
.caption-2 h4{
    font-size: 24px;
    padding-top: 20px;
    margin-bottom: 50px;
    font-weight: 400;
}
/* i do for you  */
.i-do{
    padding-top: 100px;
    padding-bottom: 90px;;
}
.i-do h2{
    font-family: var(--serif-font);
    font-weight: 300;
    font-size: 38px;
    margin-bottom: 12px;
}
.blog-cap h5{
    font-size: 30px;
    margin-bottom: 12px;
    font-family: var(--serif-font);
    font-weight: 500;
}
.blog-cap p{
    font-size: 18px;
    margin-bottom: 24px;
    font-family: var(--sans-serif-font);
    font-weight: 300;
}
.testimonial{
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    padding: 139px 0 130px;
}
.testimonial-caption p{
    color: #C1C1C1;
    line-height: 1.5;
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 400;
    padding: 0 200px;
}
.testimonial-text h2{
    font-family: var(--serif-font);
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}
.founder-text{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
}
.heading h2{
    font-size: 60px;
    font-family: var(--serif-font);
    font-weight: 300;
    margin-top: -50px;
}
.photography{
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    padding: 139px 0 130px;
}
.r-1 span{
    font-size: 20px;
    font-family: var(--serif-font);
}
.photos{
    height: 260px;
    width: 400px;
    margin-top: -5px;
    border: solid black;
}
.photo-2{
    height: 260px;
    width: 400px;
    margin-top: -5px;
    border: solid black;
}
.photo-3{
    height: 210px;
    width: 380px;
    margin-top: -5px;
    border: solid black;
}
.plan{
    padding: 100px 0 ;
    text-align: center;
}
.plan h2{
    font-family: var(--serif-font);
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 40px;
}
.plan p{
    margin-bottom: 90px;
    font-weight: 250;
    font-size: 20px;
    color:gray;
}
.single-cart{
    padding: 30px 0px;
    border: 1px solid #DBDBDB;
    text-align: center;
}
.cart-mid{
    margin-bottom: 33px;
    padding-bottom: 8px;
    border-bottom: 1px solid #DBDBDB;
}
.cart-bottom{
    padding: 0 25px;
}
.btn-1{
    background: #0A0A0A;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    padding: 7px 21px;
    margin-bottom: 13px;
}
.cart-mid h4{
    font-size: 30px;
    font-weight: 400;
    font-family: var(--sans-serif-font);
    padding-right: 3px;
}
.cart-mid h4 span{
    text-transform: uppercase;
    font-size: 14px;
    background: none;
    padding: 0;
}
.cart-bottom ul li{
    list-style: none;
    color: #717081;
    font-weight: 300;
    margin-bottom: 12px;
    font-size: 16px;
}
.cart-bottom ul{
    margin-bottom: 48px;
}
.btn-2{
    padding: 11px 39px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--sans-serif-font);
}
.btn-2:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
    transition: all 0.2s;
}
.footer-padding{
    padding-top: 80px;
}
.footer-bg{
    background: #1E1E1E;
    color: #c1c1c1;
}
.footer-title{
    font-family: var(--sans-serif-font);
    color: #ffff;
    font-size: 20px;
    margin-bottom: 29px;
    font-weight: 400;
}
.footer-logo{
    margin-bottom: 25px;
}
.footer-content p{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 22px;
    line-height: 1.8;
    color: #c1c1c1;
}
.footer-icons{
    color: var(--white-color);
    margin-bottom: 50px;
}
.footer-icons ul li{
    list-style: none;
    display: inline-block;
    width: 22px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin-right: 8px;
}
.footer-bg form input{
    width: 100%;
    height: 47px;
    padding: 10px 10px;
    border: 0;
    background: rgba(255,255,255,0.1);
    color: #ffff;
    border-radius: 0px;
    text-align: left;
}
.btn-4{
    padding: 11px 39px;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--sans-serif-font);
    margin-top: 10px;
}
.mb-13 li{
    margin-bottom: 20px;
}
